@model IEnumerable<ASPNETMOD192.Models.Client>

@{

}

<h1>Clients Index</h1>

<a asp-controller="Client" asp-action="Create">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CellPhoneNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.VATNumber)
            </th>

            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(Client client in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => client.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => client.Birthday)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => client.CellPhoneNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => client.VATNumber)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@client.ID" class="btn btn-primary">Details</a>
                    <a asp-action="Edit"    asp-route-id="@client.ID" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@client.ID" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>